name: Preprocessing Workflow

on:
  push:
    branches: ["main"]

permissions:
  contents: write 

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Python
      uses: actions/setup-python@v4

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install pandas scikit-learn joblib

    - name: Run preprocessing
      run: |
        cd kriteria-1 && python run_preprocessing.py

    - name: Commit & Push results
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add kriteria-1/preprocessing/insurance_preprocessing/*.csv
        git commit -m "Update preprocessed dataset [skip ci]" || echo "No changes to commit"
        git push origin main
